<div class="bg-white border-b border-gray-100 py-3 sm:py-4 fixed top-0 w-full shadow-small bottomMenu hidden" style="z-index: 9995;">
    <div class="max-width mx-auto justify-between flex items-center">
      <div class="items-center sm:space-x-6 block sm:flex">
        <h3 class="font-medium whitespace-nowrap text-sm sm:text-base">{{ product.title }}</h3>
        <div class="flex space-x-2 text-xs sm:text-sm text-gray-500">
          <p>$89.00</p>
          <p>/</p>
          <p>M</p>
          <p>/</p>
          <p>Red</p>
        </div>
      </div>
      <div>
        <button class="btn-lg btn-primary w-full text-center">
          Add to cart
        </button>
      </div>
    </div>
</div>