.badge {
    font-size: var(--font-size-body-smallest);
    font-weight: 500;
    padding: 0.125rem 0.3125rem;
    white-space: nowrap;
    margin: 0 0.5rem 0 0;
}

.badge--sold-out {
    background-color: #222222;
    color: #ffffff;
}

.badge--save {
    background-color: var(--clr-product-sale-accent);
    color: var(--clr-button-primary-text);
}