.product-form {
    margin-bottom: 2rem;
    @include mq($from: mobile) {
        margin-top: 2rem;
    }
    &__vendor {
        font-size: var(--font-size-body);
        color: var(--clr-general-light-text);
        line-height: 1.6;
        margin-bottom: 1rem;
    }
    &__title {
        font-family: var(--font-primary);
        font-size: var(--font-size-heading-3);
        font-weight: var(--font-weight);
        margin-bottom: 0.5rem;
        line-height: 1.2;
        @include mq($from: tablet) {
            font-size: var(--font-size-heading-1);
        }
    }
}

.product-form__price-elements {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    .product-form__price {
        font-size: var(--font-size-heading-4);
        color: var(--clr-general-text);
        line-height: 1.15;
        @include mq($from: tablet) {
            font-size: 1.25rem;
        }
    }
    .product-form__compare-price {
        font-size: var(--font-size-heading-4);
        color: var(--clr-general-text);
        line-height: 1.15;
        margin-right: 0.5rem;
        text-decoration: line-through;
        @include mq($from: tablet) {
            font-size: 1.25rem;
        }
    }
    .product-form__badges {
        .product-form__save {
            @extend .badge;
            @extend .badge--save;
        }
        .product-form__sold-out {
            @extend .badge;
            @extend .badge--sold-out;
        }
    }
}

.spr-badge-starrating {
    font-size: var(--font-size-body-tiny);
    @include mq($from: tablet) {
        font-size: 0.8rem;
    }
}

.spr-icon.spr-icon-star-empty {
    color: var(--clr-general-light-text);
    opacity: 1;
}

.spr-icon {
    font-size: var(--font-size-body-smaller);
    color: var(--clr-product-review-star);
}

.spr-icon:not(:last-child) {
    margin-right: 0.1em;
}

.spr-badge-caption {
    font-size: var(--font-size-body-tiny);
}