.product-form {
    &__vendor {
        font-size: var(--font-size-body);
        color: var(--clr-general-light-text);
        line-height: 1.6;
        margin-bottom: 1rem;
    }
    &__title {
        font-family: var(--font-primary);
        font-size: var(--font-size-heading-2);
        font-weight: var(--font-weight);
        color: var(--clr-general-headings);
        margin-bottom: 0.25rem;
        line-height: 1.2;
        @include mq($from: tablet) {
            font-size: var(--font-size-heading-1);
        }
    }
    &__description {
        font-size: var(--font-size-body);
        color: var(--clr-general-text);
        
        &--above {
            margin-bottom: 1.5rem;
            margin-top: 1.5rem;
        }

        &--below {
            margin-top: 2rem;
        }
    }
    &__btn-addtocart {
        @include btn-large;
        width: 100%;
        cursor: pointer;
        margin-top: 1.5rem;
    }
    &__btn-checkout {
        @include btn-large;
        @extend .btn-primary;
        margin-top: 0.75rem;
        width: 100%;
        cursor: pointer;
        text-align: center;
    }
}

.product-form__price-elements {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
    .product-form__price {
        font-size: var(--font-size-heading-4);
        color: var(--clr-general-text);
        line-height: 1.15;
        @include mq($from: tablet) {
            font-size: 1.25rem;
        }
    }
    .product-form__compare-price {
        font-size: var(--font-size-heading-4);
        color: var(--clr-general-light-text);
        line-height: 1.15;
        margin-right: 0.5rem;
        text-decoration: line-through;
        @include mq($from: tablet) {
            font-size: 1.25rem;
        }
    }
    .product-form__badges {
        .product-form__save {
            @extend .badge;
            @extend .badge--save;
        }
        .product-form__sold-out {
            @extend .badge;
            @extend .badge--sold-out;
        }
    }
}

.product-option {
    &__title {
        font-size: var(--font-size-body);
        font-weight: 600;
        color: var(--clr-general-text);
        margin-bottom: 0.375rem;
        @include mq($from: tablet) {
            font-size: var(--font-size-body-smaller);
        }
    }
    &__container {
        display: flex;
    }   
    &__swatch {
        margin: 0 0.5rem 0.75rem 0;
    }
    &__label {
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @include border-radius(4px);
    }
    &__input {
        position: absolute;
        z-index: 0;
        appearance: none; 
        opacity: 0;
    }
    &__btn {
        display: flex;
        width: 100%;
        height: 100%;
        @include border-radius(4px);
        cursor: pointer;
    }
    &__btn--color {
        height: 2.75rem;
        width: 2.75rem;
    }
    &__btn--default {
        background-color: #ffffff;
        font-size: var(--font-size-body);
        padding: 0rem 1rem;
        height: 2.75rem;
        align-items: center;
        @include mq($from: tablet) {
            font-size: var(--font-size-body-smaller);
        }
    }
    &__quantity-btn {
        width: 2.75rem;
        height: 2.75rem;
        background-color: white;
        @include border-radius(4px);
        span {
            line-height: 2.5;
            font-size: var(--font-size-body);
        }
    }
    &__quantity-input {
        height: 2.75rem;
        width: 2.25rem;
        text-align: center;
        appearance: none;
        outline: none;
        background: transparent;
    }
}

.shopify-payment-button {
    .shopify-payment-button__button--hidden {
        visibility: visible;
    }
}

























.spr-badge {
    margin-bottom: 0.5rem;
}

.spr-badge-starrating {
    font-size: var(--font-size-body-tiny);
    @include mq($from: tablet) {
        font-size: 0.8rem;
    }
}

.spr-icon.spr-icon-star-empty {
    color: var(--clr-general-light-text);
    opacity: 1;
}

.spr-icon {
    font-size: var(--font-size-body-smaller);
    color: var(--clr-product-review-star);
}

.spr-icon:not(:last-child) {
    margin-right: 0.1em;
}

.spr-badge-caption {
    font-size: var(--font-size-body-tiny);
    color: var(--clr-general-text);
    margin-left: 0.25rem;
}