.timer {
    display: flex; 
    align-items: center;
    padding: 6px 12px;
    background: #FFF8F8;
    border: 1px solid var(--clr-error);
    @extend .shadow;
    @include border-radius(4px);
    margin-bottom: 1rem;
    max-width: max-content;
    &__icon {
        @extend .icon-sm;
        margin-right: 0.5rem;
        color: var(--clr-error);
    }
} 

.timer--expired {
    display: none;
}

.timer__title {
    margin-right: 0.75rem;
    color: var(--clr-error);
}

.timer-display {
    display: flex;
}

.timer-block {
    display: flex;
    align-items: flex-end;
}

.timer-block:not(:last-child) {
    margin-right: 0.5rem;
}

.double-dot {
    color: var(--clr-error);
    padding: 0 8px;
}

.timer-block__num {
    display: block;
    text-align: center; 
    color: var(--clr-error);
    font-weight: 600;
}

.timer-block__unit {
    // text-transform: uppercase;
    display: block;
    text-align: center;
    white-space: nowrap;
    color: var(--clr-error);
    font-size: var(--font-size-body);
    @include mq($until: mobile) {
        line-height: 1.6;
    }
    font-weight: 600;
}