.sticky-atc {
    background: #ffffff;
    padding: 0.75rem 0;
    width: 100%;
    z-index: 950;
    position: fixed;
    @include mq($from: mobile) {
        padding: 1rem 0;
    }

    &--top {
        @extend .shadow;
        border-bottom: 1px solid var(--clr-internal-border);
        top: 0;
    }

    &--bottom {
        @extend .shadow-top;
        border-top: 1px solid var(--clr-internal-border);
        bottom: 0;
    }

    &__content {
        @extend .container;
        display: flex;
        align-items: center;
    }

    &__heading {
        font-size: var(--font-size-headin-5);
        font-weight: var(--font-weight);
        color: var(--clr-general-headings);
        font-family: var(--font-primary);
        white-space: nowrap;
    }

    &__form {
        margin-left: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__btn {
        @extend .btn-primary;
        @include btn-large;
    }
}