.sticky-atc {
    background: #ffffff;
    padding: 0.75rem 0;
    width: 100%;
    z-index: 950;
    position: fixed;
    @include mq($from: mobile) {
        padding: 1rem 0;
    }

    &--top {
        @extend .shadow;
        border-bottom: 1px solid var(--clr-internal-border);
        top: 0;
    }

    &--bottom {
        @extend .shadow-top;
        border-top: 1px solid var(--clr-internal-border);
        bottom: 0;
    }

    &__wrapper {
        @extend .container;
        display: flex;
    }
}