.product-stock {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    color: var(--clr-success);

    &__icon {
        @extend .icon-sm;
        color: var(--clr-success);
        margin-right: 0.5rem;
        margin-bottom: 2px;
    }
}