.announcement {
    position: relative;

    &--link {
        position: absolute;
        @include inset(0);
    }

    &__content {
        @extend .container;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    &__text {
        font-size: var(--font-size-body-small);
        font-weight: 500;
    }

    &__link {
        font-size: var(--font-size-body-small);
        font-weight: 500;
        white-space: nowrap;
        margin-left: 12px;
        @include mq($from: mobile) {
            display: inline-block;
        }
        @include mq($until: mobile) {
            display: none;
        }
    }
}