<div class="max-width mx-auto">
    {% paginate collections by 9 %}
    <div class="lg:py-12 py-8">
      <div class="text-xs text-gray-600 mb-8 lg:text-sm">
        {% include 'breadcrumbs' %}
      </div>
      <div>
        <h1 class="text-4xl font-serif lg:text-5xl">{{ page_title }}</h1>
      </div>
    </div>
  
    <div class="max-width grid lg:mb-8 md:grid grid-cols-2 md:grid-cols-3 gap-5
    {% if section.settings.collection_block == 2 %}
                lg:grid-cols-2
            {% elsif section.settings.collection_block == 3 %}
                lg:grid-cols-3
            {% elsif section.settings.collection_block == 4 %}
                lg:grid-cols-4
            {% elsif section.settings.collection_block == 5 %}
                lg:grid-cols-5
            {% endif %}">
      {%- for collection in collections -%}
        {%- if collection.image -%}
          {%- assign collection_image = collection.image -%}
        {%- elsif collection.products.first and collection.products.first.images != empty -%}
          {%- assign collection_image = collection.products.first.featured_image -%}
        {%- else -%}
          {%- assign collection_image = blank -%}
        {%- endif -%}
        {% include 'collection-list-tile' %}
  
    {%- endfor -%}
    </div>
    {% include 'pagination' %}
    {% endpaginate %}
  </div>


  {% schema %}
{
    "name": "Collection List",
    "settings": [
        {
            "type": "range",
            "id": "collection_block",
            "label": "Collection block per row",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 2
        }
       
    ],
    "presets": [
        {
        "name": "Collection",
        "category": "Collection List"
        }
    ]
}
{% endschema %}