<h2 class="heading-sm clr-general-headings mb-4 text-center">{{ section.settings.collection_heading }}</h2>

<div class="max-width mx-auto w-full flex justify-center items-center relative"​​​​​​>
    <div class="relative w-full {% if section.settings.video_aspect == '16-9' %} aspect-w-16 aspect-h-9 {% elsif section.settings.video_aspect == '21-9' %} aspect-w-21 aspect-h-9 {% endif %}">
    <a class="cursor-pointer flex justify-center items-center h-full w-full z-20" href="" id="play-video">
        <img src="{{ section.settings.video_thumbnail | img_url: 'master' }}" class="absolute h-full w-full object-cover object-center" alt="">
        <div class="bg-white h-20 w-20 flex justify-center items-center rounded-full z-30">
            <span aria-hidden="true" class="text-3xl icon icon-play-circle"></span>
        </div>
    </a> 
    </div>
    <div class="absolute w-full h-full" style="max-width: {{ settings.layout_max_width }}px;" id="player"></div>
</div>

<script type="text/javascript">
    function youtube_parser(url){
        var regExp = /.*(?:youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=)([^#\&\?]*).*/;
        var match = url.match(regExp);
        return (match&&match[1].length==11)? match[1] : false;
    }

    var tag = document.createElement('script');
    tag.src = "//www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var videoYTid = youtube_parser("{{ section.settings.video_id }}");
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
        videoId: videoYTid
        });
    }
</script>

{% schema %}
{
    "name": "Video",
    "settings": [
      {
          "type": "text",
          "id": "collection_heading",
          "label": "Heading",
          "default": "Designs the whole family can enjoy"
      },
      {
          "type": "image_picker",
          "id": "video_thumbnail",
          "label": "Thumbnail"
      },
      {
          "type": "select",
          "id": "video_aspect",
          "label": "Aspect ratio",
          "options": [
            {
                "value": "16-9",
                "label": "16:9"
            },
            {
                "value": "21-9",
                "label": "21:9"
            }
          ]
      },
      {
        "type": "text",
        "id": "video_id",
        "label": "Video URL"
      }
    ],
    "presets": [
        {
            "category": "Video",
            "name":"Video"
        }
    ]
  }
{% endschema %}