@mixin inset($number) {
    top: $number;
    right: $number;
    bottom: $number;
    left: $number;
}

@mixin border-radius($number) {
    -webkit-border-radius: $number; 
    -moz-border-radius: $number; 
    border-radius: $number; 
}

@mixin box-shadow($h-offset, $v-offset, $blur, $spread, $color) {
    -webkit-box-shadow: $h-offset $v-offset $blur $spread $color;
    -moz-box-shadow:    $h-offset $v-offset $blur $spread $color;
    box-shadow:         $h-offset $v-offset $blur $spread $color; 
}

@mixin animation-zoom {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 
}