/*********************
BREAKPOINTS
*********************/
body {
  font-family: var(--font-secondary) !important;
  -webkit-tap-highlight-color: transparent;
}

.container, .sticky-atc__wrapper, .product, .login, .resetpass, .announcement__content, .slideshow__width--content, .highlights__content, .featured-collection, .collection-list, .logo-list, .iwt, .testimonials, .video, .custom-html, .blog, .newsletter {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

@media (min-width: 40em) and (max-width: 63.99em) {
  .container, .sticky-atc__wrapper, .product, .login, .resetpass, .announcement__content, .slideshow__width--content, .highlights__content, .featured-collection, .collection-list, .logo-list, .iwt, .testimonials, .video, .custom-html, .blog, .newsletter {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 39.99em) {
  .container, .sticky-atc__wrapper, .product, .login, .resetpass, .announcement__content, .slideshow__width--content, .highlights__content, .featured-collection, .collection-list, .logo-list, .iwt, .testimonials, .video, .custom-html, .blog, .newsletter {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.space-content, .login__content, .resetpass__content, .featured-collection__content, .collection-list, .logo-list__content, .video__content, .custom-html, .blog__content, .newsletter__content {
  margin-top: 1.25rem;
}

@media (min-width: 48em) {
  .space-content, .login__content, .resetpass__content, .featured-collection__content, .collection-list, .logo-list__content, .video__content, .custom-html, .blog__content, .newsletter__content {
    margin-top: 1.75rem;
  }
}

.space-header, .featured-collection__header, .logo-list__header, .iwt, .testimonials__header, .video__header, .blog__header {
  margin-top: 3.125rem;
  margin-bottom: 1.25rem;
}

@media (min-width: 48em) {
  .space-header, .featured-collection__header, .logo-list__header, .iwt, .testimonials__header, .video__header, .blog__header {
    margin-bottom: 1.75rem;
  }
}

@media (min-width: 64em) {
  .space-header, .featured-collection__header, .logo-list__header, .iwt, .testimonials__header, .video__header, .blog__header {
    margin-top: 4.25rem;
  }
}

.icon-xs, .product__main-carousel__btn span {
  font-size: 14px;
}

.icon-sm, .blog__link span, .timer__icon, .product-stock__icon, .product-tags__icon, .social-sharing__share, .social-sharing__icon, .login__error span, .resetpass__error span, .resetpass__success span, .newsletter__error span, .newsletter__success span {
  font-size: 18px;
}

.icon-md, .carousel-expanded .exit, .proof-badges__icon, .product-tabs__header .product-tabs__icon {
  font-size: 22px;
}

.svg-placeholder-opacity {
  opacity: 0.5;
  background: rgba(0, 0, 0, 0.2);
}

.shadow, .tile__content, .blog__card, .timer, .sticky-atc--top, .testimonials-cell {
  box-shadow: 0 1px 4px rgba(128, 128, 128, 0.11);
}

.shadow-top, .sticky-atc--bottom {
  box-shadow: 0 -1px 4px rgba(128, 128, 128, 0.11);
}

.shadow-input, .input, .login__input, .resetpass__input, .newsletter__input {
  box-shadow: 0 2px 3px rgba(128, 128, 128, 0.11);
}

.shadow-input-hover, .input:hover, .login__input:hover, .resetpass__input:hover, .newsletter__input:hover {
  box-shadow: 0 3px 7px rgba(128, 128, 128, 0.16);
}

.input, .login__input, .resetpass__input, .newsletter__input {
  width: 100%;
  margin: 0;
  line-height: 1.2;
  padding: 0.75rem 1.125rem;
  background-color: var(--clr-form-background);
  color: var(--clr-form-text);
  border: 1px solid var(--clr-form-border);
  border-radius: 4px;
  transition: all .1s ease-in;
}

.input::placeholder, .login__input::placeholder, .resetpass__input::placeholder, .newsletter__input::placeholder {
  color: #757575;
}

.input:hover, .login__input:hover, .resetpass__input:hover, .newsletter__input:hover {
  border-color: var(--clr-form-border-hover);
}

.input:focus, .login__input:focus, .resetpass__input:focus, .newsletter__input:focus {
  outline: none;
}

.input:active, .login__input:active, .resetpass__input:active, .newsletter__input:active {
  color: #0A0A0A;
}

.textarea {
  max-height: 500px;
  min-height: 150px;
  width: 100%;
  margin: 0;
  padding: 0.375rem 0.75rem;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  transition: all .1s ease-in;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.textarea::placeholder {
  color: #757575;
}

.textarea:hover {
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
}

.textarea:focus {
  outline: none;
}

.textarea:active {
  color: #0A0A0A;
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.btn-sm {
  padding: 0.375rem 1rem;
  border-radius: 4px;
  transition: all .1s ease-in;
  font-size: var(--font-size-body);
  font-family: var(--font-secondary);
  font-weight: 500;
  display: inline-block;
  -webkit-appearance: none;
          appearance: none;
}

.btn-sm:focus {
  outline: none;
}

.btn-lg {
  font-size: var(--font-size-button-large);
  padding: 0.75rem 1.25rem;
  border-radius: 4px;
  transition: all .1s ease-in;
  font-family: var(--font-secondary);
  font-weight: 500;
  display: inline-block;
  -webkit-appearance: none;
          appearance: none;
}

.btn-lg:focus {
  outline: none;
}

.btn-primary, .product-form__btn-checkout, .login__btn, .resetpass__btn, .iwt__btn--primary, .newsletter__btn {
  background-color: var(--clr-button-primary-background);
  color: var(--clr-button-primary-text);
  border: 1px solid var(--clr-button-primary-background);
}

.btn-primary:hover, .product-form__btn-checkout:hover, .login__btn:hover, .resetpass__btn:hover, .iwt__btn--primary:hover, .newsletter__btn:hover {
  background-color: var(--clr-button-primary-background-hover);
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.btn-primary:active, .product-form__btn-checkout:active, .login__btn:active, .resetpass__btn:active, .iwt__btn--primary:active, .newsletter__btn:active {
  background-color: var(--clr-button-primary-background-active);
}

.btn-primary:disabled, .product-form__btn-checkout:disabled, .login__btn:disabled, .resetpass__btn:disabled, .iwt__btn--primary:disabled, .newsletter__btn:disabled {
  background: #EDEDED;
  color: #9E9E9E;
}

.btn-secondary, .product__main-carousel__btn, .resetpass__btn-cancel, .iwt__btn--secondary, .blog__btn {
  background-color: var(--clr-button-secondary-background);
  color: var(--clr-button-secondary-text);
  border: 1px solid var(--clr-button-secondary-border);
}

.btn-secondary:hover, .product__main-carousel__btn:hover, .resetpass__btn-cancel:hover, .iwt__btn--secondary:hover, .blog__btn:hover {
  background-color: var(--clr-button-secondary-background-hover);
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.btn-secondary:active, .product__main-carousel__btn:active, .resetpass__btn-cancel:active, .iwt__btn--secondary:active, .blog__btn:active {
  background-color: var(--clr-button-secondary-background-active);
}

.btn-secondary:disabled, .product__main-carousel__btn:disabled, .resetpass__btn-cancel:disabled, .iwt__btn--secondary:disabled, .blog__btn:disabled {
  background: #EDEDED;
  color: #9E9E9E;
}

.list-tile__image {
  object-fit: cover;
}

.list-tile__heading {
  font-size: var(--font-size-body);
  font-family: var(--font-secondary);
  font-weight: 500;
  color: var(--clr-general-text);
  text-align: center;
  margin-top: 0.75rem;
}

.tile {
  width: 100%;
}

.tile__content {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0.75rem;
}

@media (min-width: 64em) {
  .tile__content {
    padding: 1rem;
  }
}

.tile__sold-out {
  position: absolute;
  z-index: 50;
}

.tile__save {
  position: absolute;
  z-index: 50;
}

.tile__wrapper {
  overflow: hidden;
}

.tile__image {
  object-fit: cover;
  cursor: pointer;
  padding-bottom: 0;
}

.tile__image--animation {
  transition: all .2s ease-in-out;
}

.tile__image--animation:hover {
  transform: scale(1.2);
}

.tile__info {
  padding-top: 1rem;
}

.tile__vendor {
  font-size: var(--font-size-body-smallest);
  font-family: var(--font-secondary);
  color: var(--clr-general-light-text);
  display: flex;
}

.tile__name {
  font-size: var(--font-size-body);
  font-family: var(--font-secondary);
  color: var(--clr-general-text);
}

.tile__group-price {
  display: flex;
}

.tile__price {
  font-size: var(--font-size-body);
  font-family: var(--font-secondary);
  color: var(--clr-general-text);
}

.tile__compare-price {
  font-size: var(--font-size-body);
  font-family: var(--font-secondary);
  color: var(--clr-general-text);
  text-decoration: line-through;
  margin-left: 0.25rem;
}

.width100 {
  width: 100% !important;
}

.obj {
  background-size: cover !important;
}

.blog__image {
  object-fit: cover;
}

.blog__wrapper-text {
  padding: 1.25rem;
}

.blog__date-author {
  display: flex;
}

.blog__date {
  font-size: var(--font-size-body-small);
  color: var(--clr-general-light-text);
  padding-right: 0.5rem;
  line-height: 1;
}

@media (max-width: 47.99em) {
  .blog__date {
    font-size: var(--font-size-body-smallest);
  }
}

.blog__author {
  font-size: var(--font-size-body-small);
  color: var(--clr-general-light-text);
  padding-left: 0.5rem;
  line-height: 1;
  border-left: 1px solid var(--clr-general-light-text);
}

@media (max-width: 47.99em) {
  .blog__author {
    font-size: var(--font-size-body-smallest);
  }
}

.blog__heading {
  font-size: var(--font-size-heading-4);
  font-weight: var(--font-weight);
  font-family: var(--font-primary);
  line-height: 1.3;
  margin-top: 0.75rem;
  margin-bottom: 1.0rem;
}

.blog__excerpt-content, .blog__excerpt {
  font-size: var(--font-size-body);
  line-height: 1.625;
  color: var(--clr-general-text);
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
}

@media (max-width: 47.99em) {
  .blog__excerpt-content, .blog__excerpt {
    font-size: var(--font-size-small);
  }
}

.blog__link {
  color: var(--clr-general-links);
  display: flex;
}

.blog__link span {
  line-height: inherit;
}

.product-form__vendor {
  font-size: var(--font-size-body);
  color: var(--clr-general-light-text);
  line-height: 1.6;
  margin-bottom: 1rem;
}

.product-form__title {
  font-family: var(--font-primary);
  font-size: var(--font-size-heading-2);
  font-weight: var(--font-weight);
  color: var(--clr-general-headings);
  margin-bottom: 0.25rem;
  line-height: 1.2;
}

@media (min-width: 48em) {
  .product-form__title {
    font-size: var(--font-size-heading-1);
  }
}

.product-form__description {
  font-size: var(--font-size-body);
  color: var(--clr-general-text);
  line-height: 1.5;
}

.product-form__description--above {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.product-form__description--below {
  margin-top: 2rem;
}

.product-form__btn-addtocart {
  font-size: var(--font-size-button-large);
  font-family: var(--font-secondary);
  font-weight: 500;
  line-height: 1.2;
  padding: 0.875rem 1.75rem;
  border-radius: 4px;
  transition: all .1s ease-in;
  display: inline-block;
  -webkit-appearance: none;
          appearance: none;
  width: 100%;
  cursor: pointer;
  margin-top: 1.5rem;
}

.product-form__btn-addtocart:focus {
  outline: none;
}

.product-form__btn-checkout {
  font-size: var(--font-size-button-large);
  font-family: var(--font-secondary);
  font-weight: 500;
  line-height: 1.2;
  padding: 0.875rem 1.75rem;
  border-radius: 4px;
  transition: all .1s ease-in;
  display: inline-block;
  -webkit-appearance: none;
          appearance: none;
  margin-top: 0.75rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.product-form__btn-checkout:focus {
  outline: none;
}

.product-form__price-elements {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}

.product-form__price-elements .product-form__price {
  font-size: var(--font-size-heading-4);
  color: var(--clr-general-text);
  line-height: 1.15;
}

@media (min-width: 48em) {
  .product-form__price-elements .product-form__price {
    font-size: 1.25rem;
  }
}

.product-form__price-elements .product-form__compare-price {
  font-size: var(--font-size-heading-4);
  color: var(--clr-general-light-text);
  line-height: 1.15;
  margin-right: 0.5rem;
  text-decoration: line-through;
}

@media (min-width: 48em) {
  .product-form__price-elements .product-form__compare-price {
    font-size: 1.25rem;
  }
}

.product-option__title {
  font-size: var(--font-size-body);
  font-weight: 600;
  color: var(--clr-general-text);
  margin-bottom: 0.375rem;
}

@media (min-width: 48em) {
  .product-option__title {
    font-size: var(--font-size-body-smaller);
  }
}

.product-option__container {
  display: flex;
}

.product-option__swatch {
  margin: 0 0.5rem 0.75rem 0;
}

.product-option__label {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
}

.product-option__input {
  position: absolute;
  z-index: 0;
  -webkit-appearance: none;
          appearance: none;
  opacity: 0;
}

.product-option__btn {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.product-option__btn--color {
  height: 2.75rem;
  width: 2.75rem;
}

.product-option__btn--default {
  background-color: #ffffff;
  font-size: var(--font-size-body);
  padding: 0rem 1rem;
  height: 2.75rem;
  align-items: center;
}

@media (min-width: 48em) {
  .product-option__btn--default {
    font-size: var(--font-size-body-smaller);
  }
}

.product-option__quantity-btn {
  width: 2.75rem;
  height: 2.75rem;
  background-color: white;
  border-radius: 4px;
}

.product-option__quantity-btn span {
  line-height: 2.5;
  font-size: var(--font-size-body);
}

.product-option__quantity-input {
  height: 2.75rem;
  width: 2.25rem;
  text-align: center;
  -webkit-appearance: none;
          appearance: none;
  outline: none;
  background: transparent;
}

.shopify-payment-button .shopify-payment-button__button--hidden {
  visibility: visible;
}

.spr-badge {
  margin-bottom: 0.5rem;
}

.spr-badge-starrating {
  font-size: var(--font-size-body-tiny);
}

@media (min-width: 48em) {
  .spr-badge-starrating {
    font-size: 0.8rem;
  }
}

.spr-icon.spr-icon-star-empty {
  color: var(--clr-general-light-text);
  opacity: 1;
}

.spr-icon {
  font-size: var(--font-size-body-smaller);
  color: var(--clr-product-review-star);
}

.spr-icon:not(:last-child) {
  margin-right: 0.1em;
}

.spr-badge-caption {
  font-size: var(--font-size-body-tiny);
  color: var(--clr-general-text);
  margin-left: 0.25rem;
}

.badge, .tile__sold-out, .tile__save, .product-form__price-elements .product-form__badges .product-form__save, .product-form__price-elements .product-form__badges .product-form__sold-out {
  font-size: var(--font-size-body-smallest);
  font-weight: 500;
  padding: 0.125rem 0.3125rem;
  white-space: nowrap;
  margin: 0 0.5rem 0 0;
}

.badge--sold-out, .tile__sold-out, .product-form__price-elements .product-form__badges .product-form__sold-out {
  background-color: #222222;
  color: #ffffff;
}

.badge--save, .tile__save, .product-form__price-elements .product-form__badges .product-form__save {
  background-color: var(--clr-product-sale-accent);
  color: var(--clr-product-sale-accent-text);
}

.breadcrumbs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: var(--font-size-body);
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item a {
  color: var(--clr-general-links);
}

.breadcrumbs__item:not(:last-child):after {
  content: "\e930";
  color: var(--clr-general-light-text);
  font-family: 'feather' !important;
  margin: 0 6px;
  vertical-align: middle;
  font-size: 12px;
}

.breadcrumbs__link[aria-current="page"] {
  color: var(--clr-general-light-text);
  font-weight: normal;
  text-decoration: none;
}

.carousel-expanded {
  background: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.carousel-expanded .exit {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 1;
  margin: 1.5rem;
  z-index: 1000;
}

.carousel-expanded__wrapper {
  height: 100%;
}

.carousel-expanded__wrapper .carousel-main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

.carousel-expanded__wrapper .carousel-main .carousel-cell {
  width: 100%;
  font-size: 5rem;
}

.carousel-expanded__wrapper .carousel-nav {
  position: absolute;
  width: 100%;
  height: auto;
  margin: 1.5rem;
  z-index: 1020;
}

@media (max-width: 47.99em) {
  .carousel-expanded__wrapper .carousel-nav {
    bottom: 0;
    left: 0;
  }
}

@media (min-width: 48em) {
  .carousel-expanded__wrapper .carousel-nav {
    top: 0;
    left: 0;
  }
}

.carousel-expanded__wrapper .carousel-nav .flickity-slider {
  transform: none !important;
}

.carousel-expanded__wrapper .carousel-nav .is-selected {
  outline: none;
  box-shadow: 0 0 0 1.5px var(--clr-internal-gray);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: visible;
}

.carousel-expanded__wrapper .carousel-nav .product__nav-cell {
  margin: 3px;
  transition: all 0.2s ease;
  width: 3.75rem;
  height: 3.75rem;
  padding: 2px;
}

@media (min-width: 40em) {
  .carousel-expanded__wrapper .carousel-nav .product__nav-cell {
    width: 4.75rem;
    height: 4.75rem;
  }
}

.carousel-expanded__wrapper .carousel-nav .product__nav-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

@media (min-width: 48em) {
  .carousel-expanded__wrapper .carousel-nav {
    transform: rotate(90deg) translate(0px, -100%);
    transform-origin: left top;
  }
}

.carousel-expanded__wrapper .carousel-nav .carousel-cell {
  width: 3.25rem;
  height: 3.25rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

@media (min-width: 48em) {
  .carousel-expanded__wrapper .carousel-nav .carousel-cell {
    transform: rotate(-90deg);
  }
}

.product__main-image {
  margin: 0 auto;
  height: 100vh;
  object-fit: contain;
}

.z-940 {
  z-index: 940;
}

.product__main-carousel__btn {
  font-size: var(--font-size-button-small);
  font-family: var(--font-secondary);
  font-weight: 500;
  line-height: 1.2;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  transition: all .1s ease-in;
  display: inline-block;
  -webkit-appearance: none;
          appearance: none;
  color: var(--clr-internal-grey);
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: flex;
}

.product__main-carousel__btn:focus {
  outline: none;
}

.product__main-carousel__btn span {
  line-height: 1.15;
  margin-right: 0.5rem;
}

.timer {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  background: #FFF8F8;
  border: 1px solid var(--clr-error);
  border-radius: 4px;
  margin-bottom: 0.5rem;
  max-width: -webkit-max-content;
  max-width: max-content;
}

.timer__icon {
  margin-right: 0.5rem;
  color: var(--clr-error);
}

.timer__title {
  margin-right: 0.5rem;
  color: var(--clr-error);
}

.timer-display {
  display: flex;
}

.timer-block {
  display: flex;
  align-items: flex-end;
  font-size: var(--font-size-body);
}

.timer-block:not(:last-child) {
  margin-right: 0.5rem;
}

.double-dot {
  color: var(--clr-error);
  padding: 0 0.5rem;
}

.timer-block__num {
  display: block;
  text-align: center;
  color: var(--clr-error);
  font-weight: 600;
}

.timer-block__unit {
  display: block;
  text-align: center;
  white-space: nowrap;
  color: var(--clr-error);
  font-weight: 600;
}

.proof-payments {
  padding: 1rem;
  width: 100%;
  background: var(--clr-internal-light-gray);
  margin-top: 1rem;
  border-radius: 4px;
}

.proof-payments__title {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}

.proof-payments__icons {
  display: flex;
  justify-content: center;
}

.proof-payments__icons svg:not(:last-child) {
  margin-right: 0.25rem;
}

.product-stock {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  color: var(--clr-success);
}

.product-stock__icon {
  color: var(--clr-success);
  margin-right: 0.5rem;
  margin-bottom: 2px;
}

.proof-badges {
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: var(--clr-internal-light-gray);
  margin-top: 1rem;
}

@media (max-width: 39.99em) {
  .proof-badges {
    padding: 1rem;
  }
}

.proof-badges__block {
  text-align: center;
  width: 100%;
}

.proof-badges__block:not(:last-child) {
  margin-right: 2rem;
}

@media (max-width: 39.99em) {
  .proof-badges__block:not(:last-child) {
    margin-right: 1rem;
  }
}

.proof-badges__icon {
  color: var(--clr-general-dark);
}

.proof-badges__text {
  font-size: var(--font-size-body-smaller);
  color: var(--clr-general-text);
  line-height: 1.4;
  margin-top: 0.25rem;
}

@media (min-width: 40em) {
  .proof-badges__text {
    font-size: var(--font-size-body);
  }
}

.product-tabs {
  border-top: 1px solid var(--clr-internal-border);
  border-bottom: 1px solid var(--clr-internal-border);
}

.product-tabs__block:not(:last-child) {
  border-bottom: 1px solid var(--clr-internal-border);
}

.product-tabs__header {
  cursor: pointer;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
}

.product-tabs__header .product-tabs__wrapper--section {
  display: block;
  align-items: center;
  width: 100%;
}

@media (min-width: 40em) {
  .product-tabs__header .product-tabs__wrapper--section {
    display: flex;
  }
}

.product-tabs__header .product-tabs__wrapper--product {
  display: block;
  align-items: center;
  width: 100%;
}

.product-tabs__header .product-tabs__heading {
  font-family: var(--font-primary);
  font-size: var(--font-size-heading-5);
  color: var(--clr-general-headings);
  display: block;
  flex-shrink: 0;
}

.product-tabs__header .product-tabs__heading--section {
  width: 300px;
}

@media (max-width: 63.99em) {
  .product-tabs__header .product-tabs__heading--section {
    width: 250px;
  }
}

@media (max-width: 47.99em) {
  .product-tabs__header .product-tabs__heading--section {
    width: 200px;
    margin-bottom: 0.5rem;
  }
}

.product-tabs__header .product-tabs__excerpt {
  font-size: var(--font-size-body-smaller);
  color: var(--clr-general-light-text);
  margin-right: 2.5rem;
}

.product-tabs__description {
  font-size: var(--font-size-body);
  color: var(--clr-general-text);
  margin-bottom: 2rem;
}

.product-tabs__description .product-tabs__description-text {
  color: var(--clr-general-text);
}

@media (min-width: 40em) {
  .product-tabs__description--section {
    margin-left: 200px;
  }
}

@media (min-width: 48em) {
  .product-tabs__description--section {
    margin-left: 250px;
  }
}

@media (min-width: 64em) {
  .product-tabs__description--section {
    margin-left: 300px;
  }
}

.product-tags {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  font-size: var(--font-size-body);
}

.product-tags__static {
  display: flex;
  margin-right: 1rem;
  align-items: center;
}

.product-tags__text {
  font-size: var(--font-size-body);
  color: var(--clr-internal-dark);
}

.product-tags__icon {
  color: var(--clr-internal-dark);
  line-height: 1.35 !important;
  margin-right: 0.25rem;
}

.product-tags__link {
  font-size: var(--font-size-body-smaller);
  background: var(--clr-internal-light-gray);
  border: 1px solid #E6E6E6;
  color: var(--clr-general-text);
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
}

.product-tags__link:not(:last-child) {
  margin-right: 0.5rem;
}

.product-tags__link:hover {
  transition: all .1s ease-in;
  background: var(--clr-button-primary-background);
  border: 1px solid var(--clr-button-primary-background);
  color: var(--clr-button-primary-text);
}

.social-sharing {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-size: var(--font-size-body);
}

.social-sharing__static {
  display: flex;
  margin-right: 1rem;
  align-items: center;
}

.social-sharing__text {
  font-size: var(--font-size-body);
  color: var(--clr-internal-dark);
}

.social-sharing__share {
  color: var(--clr-internal-dark);
  line-height: 1.35 !important;
  margin-right: 0.25rem;
}

.social-sharing__list {
  display: flex;
}

.social-sharing__icon {
  display: block;
  background: var(--clr-internal-light-gray);
  border: 1px solid #E6E6E6;
  color: var(--clr-general-text);
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
}

.social-sharing__icon:not(:last-child) {
  margin-right: 0.5rem;
}

.social-sharing__icon:hover {
  transition: all .1s ease-in;
  background: var(--clr-button-primary-background);
  border: 1px solid var(--clr-button-primary-background);
  color: var(--clr-button-primary-text);
}

.sticky-atc {
  background: #ffffff;
  padding: 0.75rem 0;
  width: 100%;
  z-index: 950;
  position: fixed;
}

@media (min-width: 40em) {
  .sticky-atc {
    padding: 1rem 0;
  }
}

.sticky-atc--top {
  border-bottom: 1px solid var(--clr-internal-border);
  top: 0;
}

.sticky-atc--bottom {
  border-top: 1px solid var(--clr-internal-border);
  bottom: 0;
}

.sticky-atc__wrapper {
  display: flex;
}

.product__grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.75rem;
}

@media (min-width: 64em) {
  .product__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 40em) {
  .product__grid {
    gap: 2.5rem;
  }
}

.product__breadcrumbs {
  display: flex;
  margin: 1.75rem 0;
}

@media (max-width: 47.99em) {
  .product__breadcrumbs {
    margin: 1.25rem 0;
  }
}

.product__main-carousel {
  margin-bottom: 1rem;
}

.product__main-carousel .product__main-cell {
  width: 100%;
}

.product__main-carousel .product__main-image {
  object-fit: cover;
}

.product__main-carousel .flickity-page-dots {
  position: absolute;
}

@media (max-width: 39.99em) {
  .product__main-carousel .flickity-page-dots {
    display: none;
  }
}

.product__nav-carousel .product__nav-cell {
  margin: 3px;
  transition: all 0.2s ease;
  width: 3.75rem;
  height: 3.75rem;
  padding: 2px;
}

@media (min-width: 40em) {
  .product__nav-carousel .product__nav-cell {
    width: 4.75rem;
    height: 4.75rem;
  }
}

.product__nav-carousel .product__nav-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.product__nav-carousel .is-selected {
  outline: none;
  box-shadow: 0 0 0 1.5px var(--clr-internal-gray);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: visible;
}

.product__tabs-form {
  margin-top: 2rem;
}

.product__tabs-section {
  margin-top: 2rem;
}

@media (min-width: 40em) {
  .product__tabs-section {
    margin-top: 4rem;
  }
}

.login {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.login__header {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 1.75rem;
}

.login__heading {
  font-size: var(--font-size-heading-1);
  font-family: var(--font-primary);
  font-weight: var(--font-weight);
  line-height: 1.3;
  color: var(--clr-general-headings);
}

@media (min-width: 64em) {
  .login__heading {
    font-size: var(--font-size-heading-medium);
  }
}

.login__error {
  border-radius: 4px;
  background-color: var(--clr-error-light);
  color: var(--clr-error);
  padding: 0.25rem 1rem;
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
}

.login__error span {
  margin-right: 0.5rem;
}

.login__content {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

.login__form {
  margin-bottom: 1em;
}

.login__form__input--first {
  margin-bottom: 0.5em;
}

.login__btn {
  font-size: var(--font-size-button-medium);
  font-family: var(--font-secondary);
  font-weight: 500;
  line-height: 1.2;
  padding: 0.75rem 1.125rem;
  border-radius: 4px;
  transition: all .1s ease-in;
  display: inline-block;
  -webkit-appearance: none;
          appearance: none;
  width: 100%;
  margin-bottom: 0.5em;
}

.login__btn:focus {
  outline: none;
}

.login__form-action-row--helper {
  display: grid;
}

.login__form-action-row--helper-item {
  font-size: var(--font-size-body-small);
  color: var(--clr-general-text);
}

.login__form-action-row--helper-item-link {
  color: var(--clr-general-links);
  font-size: var(--font-size-body-small);
  cursor: pointer;
}

#customer_register_link {
  color: var(--clr-general-links);
  margin-left: 0.5em;
}

.resetpass {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.resetpass__content {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

.resetpass__recover-title {
  font-size: var(--font-size-heading-3);
  font-family: var(--font-primary);
  font-weight: var(--font-weight);
  line-height: 1.3;
  color: var(--clr-general-headings);
  margin-bottom: 0.25em;
}

.resetpass__recover-subtext {
  color: var(--clr-general-text);
  margin-bottom: 1em;
  font-size: var(--font-size-body);
}

.resetpass__error {
  border-radius: 4px;
  background-color: var(--clr-error-light);
  color: var(--clr-error);
  padding: 0.25rem 1rem;
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
}

.resetpass__error span {
  margin-right: 0.5rem;
}

.resetpass__success {
  border-radius: 4px;
  background-color: var(--clr-success-light);
  color: var(--clr-success);
  padding: 0.25rem 1rem;
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
}

.resetpass__success span {
  margin-right: 0.5rem;
}

.resetpass__text-success {
  text-align: center;
  color: var(--clr-success);
}

.resetpass__form {
  margin-bottom: 1em;
}

.resetpass__action {
  display: flex;
}

.resetpass__btn {
  font-size: var(--font-size-button-medium);
  font-family: var(--font-secondary);
  font-weight: 500;
  line-height: 1.2;
  padding: 0.75rem 1.125rem;
  border-radius: 4px;
  transition: all .1s ease-in;
  display: inline-block;
  -webkit-appearance: none;
          appearance: none;
  width: 100%;
}

.resetpass__btn:focus {
  outline: none;
}

.resetpass__btn-cancel {
  font-size: var(--font-size-button-medium);
  font-family: var(--font-secondary);
  font-weight: 500;
  line-height: 1.2;
  padding: 0.75rem 1.125rem;
  border-radius: 4px;
  transition: all .1s ease-in;
  display: inline-block;
  -webkit-appearance: none;
          appearance: none;
  width: 100%;
  margin-left: 1em;
}

.resetpass__btn-cancel:focus {
  outline: none;
}

:root {
  --menu-closed-height: 0;
  --menu-open-height: 200px;
}

#header ul li .header_content {
  transition: opacity 200ms cubic-bezier(0, 0, 0.2, 1);
  opacity: 0;
}

#header ul li:hover .header_content {
  opacity: 1;
}

#header .parent_link:hover {
  opacity: 0.8;
}

#header .child_default a:hover, #header .child_mega a:hover {
  color: #046e82;
}

#header ul li .dropdown-menu {
  transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
  height: var(--menu-closed-height);
}

#header ul li:hover .dropdown-menu {
  visibility: visible;
  height: var(--menu-open-height, auto);
}

.stickyHeader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9995;
  float: left;
  transition: all 0.3s ease-out;
}

.content {
  padding-top: 64px;
}

#header .child_default .grandchild_default {
  background: white;
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 180px;
}

#header .child_default li:hover .grandchild_default {
  display: block;
}

.announcement {
  position: relative;
}

.announcement--link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.announcement__content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.announcement__text {
  font-size: var(--font-size-body-small);
  font-weight: 500;
  text-align: center;
}

.announcement__link {
  font-size: var(--font-size-body-small);
  font-weight: 500;
  white-space: nowrap;
  margin-left: 12px;
}

@media (min-width: 40em) {
  .announcement__link {
    display: inline-block;
  }
}

@media (max-width: 39.99em) {
  .announcement__link {
    display: none;
  }
}

.slideshow__mobile-height--sm {
  height: 350px;
}

.slideshow__mobile-height--md {
  height: 400px;
}

.slideshow__mobile-height--lg {
  height: 450px;
}

.slideshow__mobile-height--xl {
  height: 500px;
}

.slideshow__mobile-height--fit {
  height: 100vh;
}

@media (min-width: 64em) {
  .slideshow__desktop-height--sm {
    height: 500px;
  }
}

@media (min-width: 64em) {
  .slideshow__desktop-height--md {
    height: 600px;
  }
}

@media (min-width: 64em) {
  .slideshow__desktop-height--lg {
    height: 700px;
  }
}

@media (min-width: 64em) {
  .slideshow__desktop-height--fit {
    height: 100vh;
  }
}

.slideshow__width--full {
  width: 100%;
}

.slideshow__width--content {
  margin: 24px auto;
}

.slideshow-cell {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.slideshow-cell--mask {
  height: 100%;
  width: 100%;
  position: absolute;
}

.slideshow-cell__image {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.slideshow-cell__image--top {
  object-position: top;
}

.slideshow-cell__image--right {
  object-position: right;
}

.slideshow-cell__image--center {
  object-position: center;
}

.slideshow-cell__image--left {
  object-position: left;
}

.slideshow-cell__image--bottom {
  object-position: bottom;
}

.slideshow-cell__overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.slideshow-cell--position {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.slideshow-cell__multiple {
  padding: 3rem 7rem;
}

@media (min-width: 40em) and (max-width: 63.99em) {
  .slideshow-cell__multiple {
    padding: 3rem 1rem;
  }
}

@media (max-width: 39.99em) {
  .slideshow-cell__multiple {
    padding: 3rem 1rem;
  }
}

.slideshow-cell__single {
  padding: 3rem 3rem;
}

@media (min-width: 40em) and (max-width: 63.99em) {
  .slideshow-cell__single {
    padding: 3rem 3rem;
  }
}

@media (max-width: 39.99em) {
  .slideshow-cell__single {
    padding: 3rem 1.5rem;
  }
}

.slideshow-cell--position--top-left {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

@media (max-width: 39.99em) {
  .slideshow-cell--position--top-left {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.slideshow-cell--position--top-center {
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

@media (max-width: 39.99em) {
  .slideshow-cell--position--top-center {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.slideshow-cell--position--top-right {
  align-items: flex-end;
  justify-content: flex-start;
  text-align: right;
}

@media (max-width: 39.99em) {
  .slideshow-cell--position--top-right {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.slideshow-cell--position--center-left {
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

@media (max-width: 39.99em) {
  .slideshow-cell--position--center-left {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.slideshow-cell--position--center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slideshow-cell--position--center-right {
  align-items: flex-end;
  justify-content: center;
  text-align: right;
}

@media (max-width: 39.99em) {
  .slideshow-cell--position--center-right {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.slideshow-cell--position--bottom-left {
  align-items: flex-start;
  justify-content: flex-end;
  text-align: left;
}

@media (max-width: 39.99em) {
  .slideshow-cell--position--bottom-left {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.slideshow-cell--position--bottom-center {
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

@media (max-width: 39.99em) {
  .slideshow-cell--position--bottom-center {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.slideshow-cell--position--bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
}

@media (max-width: 39.99em) {
  .slideshow-cell--position--bottom-right {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.slideshow-content {
  max-width: 640px;
}

.slideshow-content__heading {
  font-size: var(--font-size-heading-hero);
  font-family: var(--font-primary);
  font-weight: var(--font-weight);
  line-height: 1.2;
  line-height: 1.125;
  font-weight: var(--font-weight);
}

@media (max-width: 47.99em) {
  .slideshow-content__heading {
    font-size: var(--font-size-heading-1);
  }
}

.slideshow-content__text {
  font-size: var(--font-size-body-large);
  font-family: var(--font-secondary);
  line-height: 1.4;
  margin-top: 0.75rem;
}

@media (max-width: 63.99em) {
  .slideshow-content__text {
    font-size: var(--font-size-body-medium);
  }
}

.slideshow-content__btn {
  font-size: var(--font-size-button-large);
  font-family: var(--font-secondary);
  font-weight: 500;
  line-height: 1.2;
  padding: 0.875rem 1.75rem;
  border-radius: 4px;
  transition: all .1s ease-in;
  display: inline-block;
  -webkit-appearance: none;
          appearance: none;
  margin-top: 1.875rem;
}

.slideshow-content__btn:focus {
  outline: none;
}

@media (min-width: 40em) and (max-width: 63.99em) {
  .slideshow-content__btn {
    font-size: var(--font-size-button-medium);
    padding: 0.75rem 1.125rem;
  }
}

@media (max-width: 39.99em) {
  .slideshow-content__btn {
    font-size: var(--font-size-button-small);
    padding: 0.625rem 1rem;
  }
}

.slideshow--placeholder {
  height: 100%;
  width: 100%;
}

.svg-placeholder-slideshow {
  height: 100%;
  width: 100%;
}

@media (max-width: 63.99em) {
  .svg-placeholder-slideshow {
    width: auto;
  }
}

@media (max-width: 39.99em) {
  .rich-text {
    margin: 0 16px;
  }
}

.rich-text--height-small {
  padding: 48px 0;
}

@media (min-width: 64em) {
  .rich-text--height-small {
    padding: 64px 0;
  }
}

.rich-text--height-large {
  padding: 64px 0;
}

@media (min-width: 64em) {
  .rich-text--height-large {
    padding: 128px 0;
  }
}

.rich-text__content {
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}

.rich-text__heading {
  font-size: var(--font-size-heading-2);
  line-height: 1.3;
  font-family: var(--font-primary);
  font-weight: var(--font-weight);
}

@media (max-width: 47.99em) {
  .rich-text__heading {
    font-size: var(--font-size-heading-3);
  }
}

.rich-text__text {
  font-size: var(--font-size-body);
  line-height: 1.625;
  margin-top: 1.3125rem;
}

.rich-text__btn {
  margin-top: 1.75rem;
  font-size: var(--font-size-button-medium);
  font-family: var(--font-secondary);
  font-weight: 500;
  line-height: 1.2;
  padding: 0.75rem 1.125rem;
  border-radius: 4px;
  transition: all .1s ease-in;
  display: inline-block;
  -webkit-appearance: none;
          appearance: none;
}

.rich-text__btn:focus {
  outline: none;
}

.highlights__content {
  padding-top: 24px;
  padding-bottom: 24px;
}

@media (min-width: 64em) {
  .highlights__content--carousel {
    display: flex;
  }
}

.highlights__content--grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.75rem;
}

@media (min-width: 64em) {
  .highlights__content--left {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 48em) {
  .highlights__content--center {
    display: flex;
    justify-content: space-between;
  }
}

.highlights__block {
  width: calc(100% - 1rem);
  margin: 0 auto;
}

.highlights__block--left {
  display: flex;
  text-align: left;
  justify-content: center;
}

@media (min-width: 48em) {
  .highlights__block--left {
    width: 100%;
  }
}

.highlights__block--center {
  text-align: center;
}

.highlights__icon {
  margin: auto;
}

.highlights__icon--left {
  align-self: center;
  margin-right: 1rem;
}

.highlights__icon--center {
  margin-bottom: 0.5rem;
}

.highlights__image {
  margin: 0 auto;
  object-position: center;
  object-fit: cover;
}

.highlights__info {
  margin: auto 0;
}

.highlights__heading {
  font-size: var(--font-size-heading-5);
  font-family: var(--font-primary);
  font-weight: var(--font-weight);
}

@media (max-width: 63.99em) {
  .highlights__heading {
    font-size: var(--font-size-body);
  }
}

.highlights__text {
  font-size: var(--font-size-body);
  line-height: 1.4;
  margin-top: 0.25rem;
}

@media (max-width: 63.99em) {
  .highlights__text {
    font-size: var(--font-size-body-smaller);
  }
}

.highlights__link {
  font-size: var(--font-size-body);
  font-weight: 500;
  margin-top: 1rem;
}

@media (max-width: 63.99em) {
  .highlights__link {
    font-size: var(--font-size-body-smaller);
  }
}

.featured-collection__header {
  text-align: center;
}

.featured-collection__heading {
  font-size: var(--font-size-section-heading);
  font-family: var(--font-primary);
  font-weight: var(--font-weight);
  line-height: 1.3;
  color: var(--clr-general-headings);
}

.featured-collection__text {
  font-size: var(--font-size-body);
  font-family: var(--font-secondary);
  line-height: 1.625;
  margin-top: 1.3125rem;
  color: var(--clr-general-text);
}

.featured-collection__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.75rem;
}

@media (min-width: 48em) {
  .featured-collection__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 64em) {
  .featured-collection__grid {
    gap: 1rem;
  }
}

@media (min-width: 64em) {
  .featured-collection__grid--cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 64em) {
  .featured-collection__grid--cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 64em) {
  .featured-collection__grid--cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 64em) {
  .featured-collection__grid--cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.featured-collection__btn {
  margin-top: 1.75rem;
  font-size: var(--font-size-button-medium);
  font-family: var(--font-secondary);
  font-weight: 500;
  line-height: 1.2;
  padding: 0.75rem 1.125rem;
  border-radius: 4px;
  transition: all .1s ease-in;
  display: inline-block;
  -webkit-appearance: none;
          appearance: none;
}

.featured-collection__btn:focus {
  outline: none;
}

.collection-list {
  text-align: center;
}

.collection-list__header {
  margin-bottom: 1.25rem;
}

@media (min-width: 48em) {
  .collection-list__header {
    margin-bottom: 1.75rem;
  }
}

.collection-list__heading {
  font-family: var(--font-primary);
  font-size: var(--font-size-section-heading);
  font-weight: var(--font-weight);
  color: var(--clr-general-headings);
  margin-bottom: 0.75rem;
}

@media (min-width: 64em) {
  .collection-list__heading {
    margin-bottom: 1rem;
  }
}

.collection-list__text {
  font-size: var(--font-size-body-large);
  line-height: 1.4;
  color: var(--clr-general-text);
}

@media (min-width: 40em) and (max-width: 63.99em) {
  .collection-list__text {
    font-size: var(--font-size-body-medium);
  }
}

@media (max-width: 39.99em) {
  .collection-list__text {
    font-size: var(--font-size-body-small);
  }
}

.collection-list__content {
  display: grid;
  gap: 0.75rem;
}

@media (min-width: 40em) {
  .collection-list__content {
    gap: 1rem;
  }
}

@media (min-width: 64em) {
  .collection-list__content {
    gap: 1.25rem;
  }
}

@media (min-width: 48em) {
  .collection-list__cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 48em) {
  .collection-list__cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 48em) {
  .collection-list__cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 48em) {
  .collection-list__cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 48em) {
  .collection-list__cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (max-width: 47.99em) {
  .collection-list__cols-mobile-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (max-width: 47.99em) {
  .collection-list__cols-mobile-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 47.99em) {
  .collection-list__cols-mobile-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.logo-list__header {
  text-align: center;
  margin-bottom: 1.5rem;
}

@media (min-width: 64em) {
  .logo-list__header {
    margin-bottom: 2rem;
  }
}

.logo-list__heading {
  font-family: var(--font-primary);
  font-size: var(--font-size-section-heading);
  font-weight: var(--font-weight);
  color: var(--clr-general-headings);
  line-height: 1.3;
}

.logo-list__text {
  font-size: var(--font-size-body);
  font-family: var(--font-secondary);
  color: var(--clr-general-text);
  line-height: 1.625;
  margin-top: 1.3125rem;
}

.logo-list__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

.logo-list__image-wrapper {
  align-self: center;
  margin: 1rem;
}

@media (min-width: 64em) {
  .logo-list__image-wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.logo-list__image {
  object-position: center;
  object-fit: cover;
}

.iwt {
  display: grid;
  align-items: center;
  gap: 2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 48em) {
  .iwt {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

.iwt__width {
  padding: 0 4rem;
}

@media (max-width: 39.99em) {
  .iwt__width {
    padding: 0 2rem;
  }
}

@media (min-width: 48em) {
  .iwt-width--half {
    grid-column: span 3 / span 3;
  }
}

@media (min-width: 48em) {
  .iwt-width--two-thirds {
    grid-column: span 2 / span 2;
  }
}

.iwt-order--last {
  order: 9999;
}

.iwt-order--first {
  order: 9999;
}

@media (min-width: 48em) {
  .iwt-order--first {
    order: -9999;
  }
}

.iwt-align--left {
  text-align: left;
}

.iwt-align--center {
  text-align: center;
}

.iwt-align--right {
  text-align: right;
}

.iwt__heading {
  font-size: var(--font-size-heading-2);
  line-height: 1.3;
  color: var(--clr-general-headings);
  font-family: var(--font-primary);
  font-weight: var(--font-weight);
}

@media (max-width: 47.99em) {
  .iwt__heading {
    font-size: var(--font-size-heading-3);
  }
}

.iwt__text {
  font-size: var(--font-size-body);
  line-height: 1.625;
  margin-top: 1.3125rem;
  color: var(--clr-general-text);
}

.iwt__image {
  object-fit: cover;
}

.iwt__btn {
  font-size: var(--font-size-button-medium);
  font-family: var(--font-secondary);
  font-weight: 500;
  line-height: 1.2;
  padding: 0.75rem 1.125rem;
  border-radius: 4px;
  transition: all .1s ease-in;
  display: inline-block;
  -webkit-appearance: none;
          appearance: none;
  margin-top: 1.3125rem;
}

.iwt__btn:focus {
  outline: none;
}

.testimonials__header {
  text-align: center;
}

.testimonials__heading {
  font-size: var(--font-size-section-heading);
  font-family: var(--font-primary);
  font-weight: var(--font-weight);
  line-height: 1.3;
  color: var(--clr-general-headings);
}

.testimonials__text {
  font-size: var(--font-size-body);
  font-family: var(--font-secondary);
  line-height: 1.625;
  margin-top: 1.3125rem;
  color: var(--clr-general-text);
}

.testimonials__quote {
  text-align: center;
}

@media (min-width: 40em) {
  .testimonials__quote {
    padding: 0;
  }
}

.testimonials__content {
  overflow: hidden;
}

.testimonials-cell {
  margin-right: 1rem;
  padding: 2rem;
}

.testimonials__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials__image {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1.5rem;
  object-fit: contain;
}

.testimonials__image--rounded-full {
  border-radius: 9999px;
}

.testimonials__image--rounded-none {
  border-radius: 0px;
}

.testimonials__image--rounded-small {
  border-radius: 0.5rem;
}

.testimonials__4-stars {
  margin-bottom: 1rem;
  color: var(--clr-product-review-star);
}

.testimonials__5-stars {
  margin-bottom: 1rem;
  color: var(--clr-product-review-star);
}

.testimonials .flickity-viewport {
  overflow: visible !important;
}

.video__header {
  text-align: center;
}

.video__heading {
  font-size: var(--font-size-section-heading);
  font-family: var(--font-primary);
  font-weight: var(--font-weight);
  line-height: 1.3;
  color: var(--clr-general-headings);
}

.video__content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video__mask {
  position: relative;
  width: 100%;
}

.video__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 20;
  cursor: pointer;
}

.video__thumbnail {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.video__play-icon {
  background-color: #ffffff;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  z-index: 30;
  font-size: 36px;
}

.video__image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.blog__header {
  text-align: center;
}

.blog__heading {
  font-size: var(--font-size-section-heading);
  font-family: var(--font-primary);
  font-weight: var(--font-weight);
  line-height: 1.3;
  color: var(--clr-general-headings);
}

.blog__text {
  font-size: var(--font-size-body);
  font-family: var(--font-secondary);
  line-height: 1.625;
  margin-top: 1.3125rem;
  color: var(--clr-general-text);
}

.blog__carousel {
  margin-bottom: 1.5rem;
  display: block;
}

@media (min-width: 48em) {
  .blog__carousel {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.25rem;
  }
}

@media (min-width: 64em) {
  .blog__carousel--cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 64em) {
  .blog__carousel--cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 64em) {
  .blog__carousel--cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 64em) {
  .blog__carousel--cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.blog__btn-wrapper {
  text-align: center;
}

.blog__btn {
  font-size: var(--font-size-button-medium);
  font-family: var(--font-secondary);
  font-weight: 500;
  line-height: 1.2;
  padding: 0.75rem 1.125rem;
  border-radius: 4px;
  transition: all .1s ease-in;
  display: inline-block;
  -webkit-appearance: none;
          appearance: none;
}

.blog__btn:focus {
  outline: none;
}

.newsletter {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.newsletter__header {
  max-width: 39.99em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 1.75rem;
}

.newsletter__heading {
  font-size: var(--font-size-section-heading);
  font-family: var(--font-primary);
  font-weight: var(--font-weight);
  line-height: 1.3;
  color: var(--clr-general-headings);
}

.newsletter__text {
  font-size: var(--font-size-body);
  font-family: var(--font-secondary);
  line-height: 1.625;
  margin-top: 1.3125rem;
  color: var(--clr-general-text);
}

.newsletter__error {
  border-radius: 4px;
  background-color: var(--clr-error-light);
  color: var(--clr-error);
  padding: 0.25rem 1rem;
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
}

.newsletter__error span {
  margin-right: 0.5rem;
}

.newsletter__success {
  border-radius: 4px;
  background-color: var(--clr-success-light);
  color: var(--clr-success);
  padding: 0.25rem 1rem;
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
}

.newsletter__success span {
  margin-right: 0.5rem;
}

.newsletter__text-success {
  text-align: center;
  color: var(--clr-success);
}

.newsletter__content {
  max-width: 39.99em;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__form {
  display: flex;
  align-items: center;
}

.newsletter__btn {
  font-size: var(--font-size-button-medium);
  font-family: var(--font-secondary);
  font-weight: 500;
  line-height: 1.2;
  padding: 0.75rem 1.125rem;
  border-radius: 4px;
  transition: all .1s ease-in;
  display: inline-block;
  -webkit-appearance: none;
          appearance: none;
}

.newsletter__btn:focus {
  outline: none;
}
