<div class="max-width mx-auto text-center sm:py-64 py-32">
    <h1 class="heading-lg clr-general-headings mb-2">{{ 'general.404.title' | t }}</h1>
    <p class="body-md mb-6 clr-general-text">{{ 'general.404.subtext_html' | t }}</p>
    <div>
        <a class="appearance-none btn-sm btn-primary" href="/">Return to homepage</a>
    </div>    
</div>

