.blog {
    &__heading-temp {
        font-size: var(--font-size-heading-1);
        font-family: var(--font-primary);
        font-weight: var(--font-weight);
        line-height: 1.3;
        color: var(--clr-general-headings);
    }

    &__grid {
        display: grid;
        gap: 1.25rem/* 20px */;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        @include mq($from: 640px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        @include mq($from: 768px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    &__grid-2 {
        @include mq($from: 1024px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    &__grid-3 {
        @include mq($from: 1024px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    &__grid-4 {
        @include mq($from: 1024px) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }

    &__grid-5 {
        @include mq($from: 1024px) {
            grid-template-columns: repeat(5, minmax(0, 1fr));
        }
    }

    &__author-blank {
        font-size: var(--font-size-body-small);
        color: var(--clr-general-light-text);
        line-height: 1;
    }

    &__heading-my {
        margin-top: 0.75rem/* 12px */;
        margin-bottom: 0.75rem/* 12px */;
    }

    






}